

@{
    ViewBag.Title = "Cães e gatos";
}


<div class="container">

    <div class="texto-espacado-10">
        <div class="row">
            <div class="col-8">
                <h2 class="frase-header">Cães e gatos podem ser bons amigos, sim!</h2>
            </div>
            <div class="col-4 text-right">
                <a class="btn btn-azul" href="@Url.Action("Index", "Materias")">Voltar</a>
            </div>
        </div>

    </div>

    <div>

        <p>
            Cães são brincalhões e naturalmente mais fortes que os gatos. Já os felinos, são observadores e calculistas com relação aos seus movimentos. Quando animais com comportamentos tão diferentes coabitam, o tutor deve manter-se atento para que as duas espécies convivam tranquilamente.
        </p>

        <p>
            Saiba como realizar o contato inicial entre cachorro e gato e confira dicas para tornar esse momento mais tranquilo.
        </p>

    </div>

    <div class="mt-4">

        <h4>O primeiro encontro</h4>
        <p>
            Se apresentar dois cachorros já é difícil em alguns casos, apresentar cães e gatos pode ser uma tarefa ainda mais desafiadora. Felizmente, com cuidado, paciência e atenção é possível realizar esse encontro com o mínimo de estresse para todas as partes.
        </p>
        <p>
            O contato inicial entre as duas espécies é mais efetivo se feito em ambiente controlado: isole um dos animais e permita que o outro circule pelo ambiente, sentindo o cheiro do companheiro. Depois, inverta as posições e deixe que o outro animal também circule e se acostume com o cheiro novo.
        </p>
        <p>
            No primeiro contato direto, mantenha o cão separado por um portão e permita que ele cheire o gato enquanto você o segura no colo. Procure contar com a ajuda de alguém para segurar um dos animais enquanto você impede que o outro avance.
        </p>
        <p>
            Associe a chegada do novo animal com coisa boas, oferecendo petiscos, brinquedos e carinho ao animal de casa.
        </p>
        <p>
            Quando os dois se comportarem bem, não economize em incentivos. Repreenda-los (sem gritar ou agredir, é claro) caso um dos dois avance ou rosne.
        </p>
    </div>

    <div class="mt-4">

        <h4>Dicas</h4>
        <ul class="li-group">
            <li class="list-group-item">O gato pode se sentir mais confortável e seguro se o cachorro não tiver acesso aos seus potes de comida e água ou à sua caixa de areia.</li>
            <li class="list-group-item">Considere manter o cão na coleira por um tempo, evitando que ele assuste o gato e que a adaptação se torne mais complicada.</li>
            <li class="list-group-item">A adaptação entre filhotes costuma ser muito mais fácil, já que os pequenos são mais curiosos, menos agressivos e têm poucas manias. Quando cão e gato crescem e são educados juntos, não existirem motivos para conflitos e é muito possível que se enxerguem como irmãos.</li>
        </ul>

    </div>

    <div class="mt-4">

        <h4>Importante</h4>
        <ul class="li-group">
            <li class="list-group-item">Até que os animais estejam perfeitamente adaptados à companhia de outra espécie, não os deixe juntos sem supervisão.</li>
            <li class="list-group-item">Paciência é fundamental. O processo de adaptação costuma ser lento. Pode levar alguns dias ou até semanas para que os animais se acostumem com a nova companhia.</li>
            <li class="list-group-item">Após a adaptação, evite que disputem comida. Disponibilize um comedouro e um bebedouro para cada animal, preferencialmente em zonas diferentes da casa.</li>
            <li class="list-group-item">Ofereça carinho e atenção na mesma quantidade.</li>
            <li class="list-group-item">Tenha consciência de que alguns pares de cães e gatos simplesmente não serão compatíveis. Não force uma relação que parece não estar dando certo.</li>
        </ul>

    </div>

</div>




