

@{
    ViewBag.Title = "Castração";
}


<div class="container">

    <div class="texto-espacado-10">
        <div class="row">
            <div class="col-8">
                <h2 class="frase-header">Quem ama, castra! Saiba porque a castração de cães e gatos é tão importante.</h2>
            </div>
            <div class="col-4 text-right">
                <a class="btn btn-azul" href="@Url.Action("Index", "Materias")">Voltar</a>
            </div>
        </div>

    </div>

    <div>

        <p>
            Quando o assunto é castração de cães e gatos, ainda existe muito preconceito. É preciso saber que não castrar um animal e não permitir que ele expresse seu comportamento sexual acarreta em grande sofrimento psicológico. Por outro lado, não castrar um animal e permitir a cópula pode ser uma atitude equivocada, já que existem milhares de cães e gatos sofrendo com o abandono. Só na Acãochego, mais de 400 cães esperam por um lar.
        </p>

        <h5>
            Com duas criar por ano e de 2 a 8 filhotes por cria, um casal de animais pode originar em sucessivas gerações:
        </h5>

    </div>

    <div class="texto-espacado-10">
        <div class="row text-center">
            <div class="col d-block d-sm-none">
                <img id="img-geracoes-mobile" src="@Url.Content("~/Content/images/geracoes-anos.png")" style="width:90%" />
            </div>
            <div class="col d-none d-sm-block">
                <img id="img-geracoes-desktop" src="@Url.Content("~/Content/images/geracoes-anos.png")" />
            </div>
        </div>
        <div class="row text-center">
            <div class="col">
                <p class="font-italic">Fonte: American Humane Association. Adaptado pela Acãochego.</p>
            
            </div>
        </div>
    </div>

    <div class="texto-espacado-10">

        <p>
            Além de colaborar com o controle populacional, a castração diminui a agressividade do animal e, consequentemente, os casos de brigas e fugas. Nas fêmeas, a castração reduz a incidência de câncer de mama e de outras doenças do aparelho reprodutor, principalmente nas cadelas e gatas castradas antes do primeiro cio. Além disso, fêmeas castradas tem menos gravidez psicológica (pseudociese) e infecções uterinas (piometra).
        </p>

        
        <div>

            <p class="mt-4">
                <h5>Como é realizada a castração?</h5>
                A castração é uma cirurgia simples, rápida e com pós-operatório tranquilo. O procedimento deve ser realizado por um veterinário e pode ocorrer após os primeiros meses de vida do animal. Como é uma cirurgia de retirada dos órgãos reprodutivos, o animal recebe anestesia geral e fica conectado a aparelhos responsáveis pelo monitoramento dos sinais vitais e pela prevenção de complicações. Se tudo correr bem, o animal é liberado para voltar para casa no mesmo dia.
            </p>

            <p class="mt-4">
                <h5>Feita a castração, quais cuidados os donos devem ter?</h5>
                Uma vez em casa, alguns cuidados devem ser tomados. Os animais costumam ficar até 10 dias com os pontos, durante esse tempo o "ferimento" precisa ser tratado e higienizado diariamente, conforme orientação do veterinário. Além de cuidar do corte, é importante garantir que o animal não cutuque os pontos. Nada que com muito amor e carinho não se resolva!
            </p>

            <p class="mt-4">
                <h5>Onde realizar a castração de animais gratuitamente?</h5>
                O <a href="https://www.prefeitura.sp.gov.br/cidade/secretarias/saude/saude_e_protecao_ao_animal_domestico/index.php?p=272489" target="_blank">Centro de Controle de Zoonozes</a> oferece castração gratuita em São Paulo. Basta encontrar o endereço mais próximo de você e comparecer nos horários de retirada das senhas de cadastro.
            </p>

        </div>

    </div>

</div>




