
@{
    ViewBag.Title = "Chegando em casa";
}


<div class="container">

    <div class="texto-espacado-10">
        <div class="row">
            <div class="col-8">
        <h2 class="frase-header">Chegando em casa</h2>
            </div>
            <div class="col-4 text-right">
                <a class="btn btn-azul" href="@Url.Action("Index", "Materias")">Voltar</a>
            </div>
        </div>

    </div>

    <p>
        Deu tudo certo e em breve meu novo cãozinho estará em casa! Com o que devo me preocupar?
    </p>

    <p>
        <ul class="list-group">
            <li class="list-group-item">
                Caminha: providenciar uma cama confortável para ele dormir.
            </li>
            <li class="list-group-item">
                Potinhos: para água e ração.
            </li>
            <li class="list-group-item">
                Coleira: para já pensar nos passeios, dar preferência para modelo peitoral e guia firme. Coloque o passeio com seu cão em sua rotina. Só trará benefícios aos envolvidos.
            </li>
            <li class="list-group-item">
                Brinquedos: bolinhas, varetas, garrafas… tudo pode ser brinquedo. Ter diversos itens espalhados pela casa ajuda o cão a ficar menos entediado. A sua interação com ele é muito importante. Brinque com ele.
            </li>
            <li class="list-group-item">
                Paciência: Nem sempre o cão aprenderá de forma rápida o que você quer ensinar. Paciência para lidar com todas as situações que se apresentarem. Pode ser que você precise de ajuda de algum especialista comportamental. E pode ser que ele aprenda tudo rapidinho!
            </li>
            <li class="list-group-item">
                Banheiro: determinar onde seu cão usará para se aliviar, longe da cama e área de alimentação obviamente. Forre boa parte do local com jornal e com o tempo vá diminuindo o tamanho da área.
            </li>
        </ul>
    </p>

    <p>
        Dicas sobre banheiro com Fernando Oliveira consultor canino:
    </p>

    <p>
        Paciência e repetição. Tire todos os tapetes e panos do chão. Fique atento ao comportamento do seu cão, ele poderá dar sinais que quer ir ao banheiro. Costumam cheirar o chão, ficam agitados, podem raspar as portas, andam rápidos ou em círculos. Ao notar esses sinais, leve-o ao local do banheiro e fique com ele lá. Não é necessário brincar ou falar muito com ele, pois o momento do banheiro deve ser tranquilo e muita agitação pode atrapalhar. Caso ele faça as necessidades, elogie e recompense com petisco ou carinho.
    </p>

    <p>
        Se ele fizer fora do local, não brigue com ele. Molhe uma folha do jornal no xixi ou pegue o coco e coloque no local determinado. Limpe com produtos para remover o odor do local errado.
    </p>

    <p>
        O cão geralmente vai ao banheiro em algumas situações: ao acordar, após refeições, depois de brincar bastante, antes de dormir.
    </p>

    <p>
        Fique atento ao seu comportamento e tenha paciência.
    </p>
</div>

