

@{
    ViewBag.Title = "Denúncia de maus tratos";
}


<div class="container">

    <div class="texto-espacado-10">
        <div class="row">
            <div class="col-8">
                <h2 class="frase-header">Maus-tratos contra animais é crime. Saiba como denunciar.</h2>
            </div>
            <div class="col-4 text-right">
                <a class="btn btn-azul" href="@Url.Action("Index", "Materias")">Voltar</a>
            </div>
        </div>

    </div>

    <div>

        <p>
            Não agir ao tomar conhecimento de um caso de maus-tratos contra animais é ser conivente com o crime. Nessas situações, não há outra saída a não ser denunciar o caso. Pode ser um cachorro que vive acorrentado ou em ambiente impróprio, um pet shop que mantém animais em gaiolas minúsculas ou até um cavalo que é explorado até o seu limite. Todas essas situações ou qualquer outra que configure maus-tratos devem ser levadas a conhecimento da polícia e de entidades ambientais.
        </p>

        <br />
        <h5>O que diz a lei?</h5>

        <p>
            A lei define o crime de maus-tratos da seguinte forma:
            <br />
            <span class="font-italic">“Praticar ato de abuso, maus-tratos, ferir ou mutilar animais silvestres, domésticos ou domesticados, nativos ou exóticos".</span>
            <br />
            Também é crime realizar experiência dolorosa ou cruel em animal vivo, ainda que para fins didáticos ou científicos, quando existirem recursos alternativos.
        </p>

        <br />
        <h5>O que é considerado maus-tratos contra animais?</h5>

        <p>
            <ul class="list-group">
                <li class="list-group-item">
                    Abandonar;
                </li>
                <li class="list-group-item">
                    Ferir, mutilar ou envenenar;
                </li>
                <li class="list-group-item">
                    Manter preso permanentemente em correntes;
                </li>
                <li class="list-group-item">
                    Manter em locais pequenos e sem higiene;
                </li>
                <li class="list-group-item">
                    Não abrigar do sol, da chuva e do frio;
                </li>
                <li class="list-group-item">
                    Deixar sem ventilação ou luz solar;
                </li>
                <li class="list-group-item">
                    Não garantir alimento e água diariamente;
                </li>
                <li class="list-group-item">
                    Negar assistência veterinária ao animal doente ou ferido;
                </li>
                <li class="list-group-item">
                    Obrigar a trabalho excessivo ou superior à sua força;
                </li>
                <li class="list-group-item">
                    Utilizar animais em shows que possam lhe causar pânico ou estresse;
                </li>
                <li class="list-group-item">
                    Capturar animais silvestres;
                </li>
                <li class="list-group-item">
                    Promover violência como rinhas, farra-do-boi, dentre outros.
                </li>
            </ul>
        </p>

    </div>

    <div class="mt-4">
      
        <h5>Como denunciar um caso de maus-tratos?</h5>

        <p>
            Primeiramente, certifique-se de que a denúncia é verdadeira. <span class="font-weight-bold">Não tenha medo: é possível denunciar de maneira anônima ou pedir sigilo dos dados no momento da denúncia.</span>
        </p>

    </div>


    <div class="mt-4">
        <h6 class="font-weight-bold">
            <img src="@Url.Content("~/Content/images/tick.png")" />
            Polícia Militar, Polícia Ambiente e delegacias especializadas
        </h6>

        <p>
            As denúncias de abuso ou maus-tratos contra animais devem ser comunicadas à Polícia Militar (190) ou à Polícia Ambiental, também por e-mail <a href="mailto:ambientaldenuncias@policiamilitar.sp.gov.br">(ambientaldenuncias@policiamilitar.sp.gov.br)</a>. Alguns municípios brasileiros possuem delegacias especializadas em defesa animal, como é o caso das cidades de São Paulo e Campinas.
        </p>

        <p>
            Para crimes ocorridos no Estado de São Paulo, é possível realizar a denúncia online por meio da DEPA (Delegacia Eletrônica de Proteção Animal). É necessário identificar-se para fazer a denúncia e o sigilo dos dados serão preservados se optar pela privacidade no momento do cadastro da denúncia. Também é possível registrar a ocorrência na DEPA via disque-denúncia: 0800 600 6428.
        </p>

    </div>

    <div class="mt-4">
        <h6 class="font-weight-bold">
            <img src="@Url.Content("~/Content/images/tick.png")" />
            Ministério Público
        </h6>

        <p>
            Na hipótese da autoridade policial injustificadamente se recusar a registrar a ocorrência, o cidadão deverá procurar o Ministério Público para noticiar o fato, informando dados da delegacia e do policial. Afinal, de acordo com a nossa legislação, todos os animais presentes em nosso país são de responsabilidade do Estado.
        </p>

        <p>
            As acusações podem ser feitas diretamente aos promotores, que têm autoridade para propor ação contra os que desrespeitam a Lei de Crimes Ambientais. O registro pode ser feito pelo site do Ministério Público Federal ou pelas ouvidorias dos Ministérios Públicos estaduais.
        </p>

    </div>

    <div class="mt-4">
        <h6 class="font-weight-bold">
            <img src="@Url.Content("~/Content/images/tick.png")" />
            Ibama
        </h6>

        <p>
            O Instituto Brasileiro do Meio Ambiente e dos Recursos Naturais Renováveis também pode ser acionado, principalmente em relação a maus-tratos a animais selvagens, silvestres e espécies exóticas. As denúncias podem ser realizadas online, por telefone (0800 61 8080) ou pessoalmente. Confira as unidades do Ibama em todo o Brasil.
        </p>

    </div>

    <div>

        <h5>O que é necessário para realizar uma denúncia?</h5>

        <p>
            Independentemente para qual entidade fará a queixa, é importante descrever os fatos com exatidão e objetividade. Também é preciso fornecer o nome e o endereço dos responsáveis pelo animal, além de anexar provas e evidências, como fotos, vídeos e testemunhas, por exemplo.
        </p>

    </div>


</div>




