
@{
    ViewBag.Title = "Estou preparado para adotar?";
}


<div class="container">

    <div class="texto-espacado-10">
        <div class="row">
            <div class="col-8">
                <h2 class="frase-header">Estou preparado para adotar?</h2>
            </div>
            <div class="col-4 text-right">
                <a class="btn btn-azul" href="@Url.Action("Index", "Materias")">Voltar</a>
            </div>
        </div>

    </div>

    <p>
        Adotar um cão é realmente transformador. Nossa vida deixa de ser a mesma quando um cão entra em nossa vida. Tanto no que diz respeito a toda felicidade envolvida, quando no tocante responsabilidades, preocupações e uso do tempo. Aqui abaixo estão as perguntas que você deve se fazer antes de adotar um animal:
    </p>

    <p>
        <ul class="list-group">
            <li class="list-group-item">
                Eu estou disposto a ter um cão dentro de casa? Sabemos que cachorros são seres brincalhões, ainda mais se forem filhotes. Talvez eles queiram brincar com objetos proibidos, talvez mastiguem um chinelo, talvez façam um xixi ou outro fora do lugar. Já pensou se você tem paciência para lidar com isso?
            </li>
            <li class="list-group-item">
                É super, super importante focar em um perfil de temperamento para não correr o risco de adotar um cão com uma personalidade incompatível com seu estilo de vida.
                Por exemplo, um filhote demanda muito mais tempo e paciência do que um cão adulto, que tende a ter menos energia e já sabemos o tamanho final que ele irá ficar. Se você é uma pessoa mais tranquila, pode procurar um cão adulto e tranquilo e não um filhote que pode ser super agitado.
            </li>
            <li class="list-group-item">
                Onde meu cachorro vai ficar quando eu sair pra trabalhar? Nós humanos temos a nossa vida fora de casa. Já o cão fica ali nos esperando retornar. Onde vai ficar o seu cão quando você não estiver? Onde vai ficar a caminha, o banheiro, os potinhos de ração e água? Quais distrações vou dar pra ele não se entediar?
            </li>
            <li class="list-group-item">
                Terei condições de comprar ração e fornecer atendimento veterinário anual? Assim como nós os cães precisam de alimento e assistência médica. Estou disposto?
            </li>
            <li class="list-group-item">
                Quando eu viajar, onde meu cão vai ficar? Outra ótima preocupação para quem tem uma rotina que permite viagens. Vou optar por um hotel? Vou deixar na casa de parentes? Como será feita a adaptação em caso de outros bichos residirem na mesma casa?
            </li>
            <li class="list-group-item">
                <a href="@Url.Action("UmOuDoisCaes", "Materias")">Já tenho um cachorro, qual será a melhor forma de apresentá-los? Para que não seja traumático e tenso, preciso pensar em como fazer.</a>
            </li>
        </ul>
    </p>


</div>

