
@{
    ViewBag.Title = "Política de adoção";
}


<div class="container">

    <div class="texto-espacado-10">
        <div class="row">
            <div class="col-8">
                <h2 class="frase-header">Política de adoção</h2>
            </div>
            <div class="col-4 text-right">
                <a class="btn btn-azul" href="@Url.Action("Index", "Materias")">Voltar</a>
            </div>
        </div>

    </div>

    <p>
        Para garantir o bem-estar dos cães adotados, temos algumas preocupações e premissas que norteiam a entrevista e o acompanhamento da adaptação do bichinho. Veja abaixo:
    </p>

    <p>
        <ul class="list-group">
            <li class="list-group-item">
                As adoções são feitas pessoalmente na chácara ou nas feiras de adoção. Não entregamos o cão a terceiros. A pessoa interessada em adotar deve ser a pessoa a conhecer o cão e assinar o documento de adoção.
            </li>
            <li class="list-group-item">
                Permitimos a adoção se sentimos que a família responsável está apta emocionalmente a ter um cão em sua casa. Se terá tempo, paciência, dedicação. Cães são como crianças. Precisam de atenção.
            </li>
            <li class="list-group-item">
                O cão precisa ter espaço físico, segurança, comida, água e dedicação. Caso seja um quintal aberto, é preciso garantir que o cão tenha um espaço coberto e fechado para se proteger da chuva e do sol.
            </li>
            <li class="list-group-item">
                O tutor deve garantir assistência veterinária em caso de doenças e incômodos do animal. Bem como se preocupar com as vacinações anuais.
            </li>
            <li class="list-group-item">
                Adoramos quando o novo lar do cão é um sítio ou uma chácara. O espaço ideal para correr e se aventurar. Porém desencorajamos a adoção caso o terreno não seja delimitado e permita fugas. Não queremos o cão novamente nas ruas.
            </li>
            <li class="list-group-item">
                Caso aconteça algum problema de adaptação, orientamos quais as medidas a serem tomadas para que a convivência seja leve e feliz para todos.
            </li>
            <li class="list-group-item">
                Em caso de real impossibilidade de manter a adoção, o cão é resgatado e é levado novamente para o abrigo.
            </li>
        </ul>
    </p>


</div>

