

@{
    ViewBag.Title = "Quero fazer uma doação";
}


<div class="container">

    <div class="texto-espacado-10">
        <div class="row">
            <div class="col text-center">
                <h2 class="frase-header">Quero fazer uma doação</h2>
            </div>
           
        </div>

    </div>

    <p>
        Doações esporádicas nos ajudam muito e são super bem-vindas! Você pode escolher um dos botões abaixo ou fazer o depósito diretamente no banco ou pagseguro.
    </p>

    <p>
        E caso possa contribuir mensalmente com 30 reais, sugerimos a opção de apadrinhamento.
    </p>

    <p>
        Em nome dos mais de 300 cães, agradecemos sua generosidade.
    </p>

    <p>
        @Html.Partial("_DadosDeposito")
    </p>

   

</div>




