

@{
    ViewBag.Title = "Um ou dois cães";
}


<div class="container">

    <div class="texto-espacado-10">
        <div class="row">
            <div class="col-8">
                <h2 class="frase-header">Ter mais de um cãozinho: desafio ou boa ideia?</h2>
            </div>
            <div class="col-4 text-right">
                <a class="btn btn-azul" href="@Url.Action("Index", "Materias")">Voltar</a>
            </div>
        </div>

    </div>

    <div>

        <p>
            Precisa de ajuda para decidir entre adotar um ou dois cãezinhos? Ou já tem um mascote e têm dúvidas sobre aumentar ou não a família? Levantamos os prós e os contras de ter mais de um cachorro. Confira:
        </p>

        <div>

            <h4 class="mt-4">Por que ter dois ou mais cães?</h4>


            <p class="mt-4">
                <h5>Mais e mais alegria</h5>
                Quando se tem dois ou mais cães, as chances de sua casa virar uma baderna são de quase 100%: e tem coisa melhor? Dois cães garantem alegria dobrada! Com certeza o seu lar será sempre animado!
            </p>

            <p class="mt-4">
                <h5>Companhia para o cão</h5>
                Bateu culpa por deixar seu cachorro muito tempo sozinho? Talvez ter um “cãopanheiro” tire seu peso da consciência. É legal saber que seu cãozinho tem um amigo para brincar e destruir as almofadas do sofá juntos!
            </p>

            <p class="mt-4">
                <h5>Superação do luto</h5>
                É triste pensar nisso, mas é real. Você ainda terá um bichinho para dividir o momento de luto quando o outro partir. Acredite, é mais fácil superar a perda de um animal quando se tem outro para alegrar a casa.
            </p>

        </div>

        <div>

            <h4 class="mt-4">Por que ter um único cão?</h4>


            <p class="mt-4">
                <h5>Gastos em dobro</h5>
                Ração para dois. Banho e tosa nos dois. Hotelzinho para dois. Vacina nos dois. Seu bolso está preparado?
            </p>

            <p class="mt-4">
                <h5>Doença em dose dupla</h5>
                Sem dúvidas, quando o assunto for doença infectocontagiosa e ectoparasitas, você vai ter trabalho em dobro. Lembre-se de que, se um aparecer com pulga, você terá que tratar os dois!
            </p>

            <p class="mt-4">
                <h5>Brigas</h5>
                Antes de bater o martelo pela adoção de outro pet, tenha certeza que os dois cães vão se adaptar com a companhia um do outro. Se seu cão antigo não gostar da presença do novo, você acabou de levar um problema para casa.
                <br />Caso você ainda não tenha nenhum animal, adotar dois cães que já são amigos é sinônimo de felicidade dobrada – confira nossos cães inseparáveis, disponíveis para adoção conjunta.
            </p>

            <p class="mt-4">
                <h5>Cio duas vezes ao ano</h5>
                Se você já tinha uma fêmea e optou por outra, ambas não castradas, prepare-se: por conta dos hormônios, as duas provavelmente entrarão no cio na mesa época. Nesse período, seu cuidado terá que ser maior: cadelas em ciclo reprodutivo podem se voltar uma contra a outra.
                <br />
                Agora, se você pretende formar um casal, tenha em mente que pares também brigam, mas dependendo do temperamento, podem se dar muito, mas muito bem! Caso opte por adotar um macho e uma fêmea, prepare-se para lidar com a cadela no cio chorando pela presença do macho (que vai arranhar a porta querendo estar perto da fêmea).
                <br />
                A melhor opção é que os dois animais sejam castrados, independentemente do sexo.
            </p>

        </div>

    </div>

  


</div>




