
<div id="consumo-mensal">

    <p>
        O que é consumido mensalmente na Acãochego:
    </p>

    <div class="row">
        <div class="col-md-6 col-xs-12 mt-2">
            <div class="card">
                <div class="card-body">
                    <h5> Produto de higiene e limpeza dos canis:</h5>

                    <ul>
                        <li>75 litros de cloro;</li>
                        <li>80 litros de sabão de coco;</li>
                        <li>10 vassouras de nylon duro;</li>
                        <li>10 litros de essência de desinfetante (diluídas rendem 100 litros de desinfetante);</li>
                        <li>2 litros Triatox (contra pulgas e carrapatos).</li>
                    </ul>

                    <h5>Para os cães:</h5>

                    <ul>
                        <li>Higiene: 25 litros de shampoo;</li>
                        <li>
                            Medicamentos em geral: antibióticos, anti-inflamatórios, remédios para ouvido (limpeza e tratamento), sarna comum e demodécica, artrose/artrite, vermífugos, antipulgas, vitaminas, vacinas, etc.
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xs-12 mt-2">
            <div class="card">
                <div class="card-body">
                    <h5> Alimentação:</h5>
                    <ul>
                        <li>4 toneladas de ração;</li>
                        <li>30 kg de arroz, 10 kg de pé de frango, 10 kg de fígado de galinha (para complementar a alimentação dos idosos, filhotes e doentes).</li>
                    </ul>
                    <h5>Diversos:</h5>
                    <ul>
                        <li>Despesas com veterinário (consultas, internações, castrações e demais cirurgias e procedimentos);</li>
                        <li>
                            Pagamento dos funcionários, água, luz e impostos;
                        </li>
                        <li>
                            Construção e manutenção de canis;
                        </li>
                        <li>
                            Manutenção e reformas em geral das casas.
                        </li>
                    </ul>
                    <h5>Extras</h5>
                    <ul>
                        <li>Cirurgias ortopédicas, emergências, internações etc.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>