<div id="dados-deposito">


    <div class="card">
        <div class="card-body text-center">
           
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <div>Banco: Bradesco</div>
                    <div>Agência: 2958</div>
                    <div>Conta Poupança: 296255-1</div>
                    <div>Nome: Vera Lúcia Gonçalves Leite</div>
                    <div>CPF: 070.170.658/91</div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="mt-4">
                        <p>Para doar por meio do PagSeguro (cartão de crédito, débito em conta ou boleto bancário):</p>

                        <center>
                            <a href="#"><img src="@Url.Content("~/Content/images/meios-pagamento.jpg")" alt="Doe com pagseguro" width="90%" /></a>
                        </center>

                    </div>
                </div>
            </div>
            
        </div>
    </div>

    


</div>
