
@{
    ViewBag.Title = "Quero Ajudar - OSCIP Acãochego";
}

<div id="pagina-quero-ajudar">

    <div class="container">

        <div class="row">
            <div class="col">
                <div class="texto-espacado-10">
                    <h2 class="frase-header">Formas de Ajudar</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-xs-12">
                
                <div class="texto-espacado-10 mt-3 text-justify">
                    <p>
                        Que ótimo que você clicou aqui. É muito bonito ver a intenção das pessoas quando o assunto é ajudar uma causa que lhes toca. De imediato, já agradecemos seu envolvimento.
                    </p>

                    <p>
                        Há diversas formas de contribuir com o trabalho da Acãochego, entre elas adotar (a melhor ajuda!), apadrinhar (custa baratinho e ajuda um montão), fazer uma doação (você que manda), curtir e compartilhar nossas postagens (importante!), se envolver com nosso grupo de voluntários (sempre precisamos de ajuda!)... O boca a boca é poderoso e gostamos muito de saber das história de pessoas que passaram a contribuir conosco depois de uma conversa com amigos.
                    </p>

                    <p>
                        Listamos abaixo as formas mais diretas de atuar conosco:
                    </p>

                    <div class="text-center">
                        <a href="@Url.Action("Index", "QueroApadrinhar")" class="btn btn-filtro mt-1" style="width:250px;">QUERO APADRINHAR</a>
                        <br />
                        <a href="@Url.Action("QueroFazerDoacao", "Materias")" class="btn btn-filtro mt-1" style="width:250px;">QUERO FAZER UMA DOAÇÃO</a>
                        <br />
                        <a href="@Url.Action("PossoDoar","Materias")" class="btn btn-filtro mt-1" style="width:250px;">DOAÇÃO DE MATERIAIS</a>
                        <br />
                        <a href="@Url.Action("QueroSerVoluntario", "Materias")" class="btn btn-filtro mt-1" style="width:250px;">VOLUNTARIADO</a>
                    </div>



                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="texto-espacado-10 mt-3">
                    <iframe style="width:100%" height="300" src="https://www.youtube.com/embed/L2jXD4YJKVU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>





    </div>


</div>

